## Conditional

In [118]:
angka = 48
print(angka)
print(f"{angka} lebih besar dari 30")

48
48 lebih besar dari 30

In [119]:
True

True

In [120]:
False

False

In [121]:
angka = 29
if False:
    print(f"{angka} lebih besar dari 30")

In [122]:
35>30

True

In [123]:
angka = 46
if angka>30:
    print(f"{angka} lebih besar dari 30")

46 lebih besar dari 30

In [124]:
angka = 15
if angka>30:
    print(f"{angka} lebih besar dari 30")
else:
    print(f"{angka} lebih kecil dari 30")

15 lebih kecil dari 30

apakah angka yang berada di variabel angka adalah bilangan ganjil atau genap

In [125]:

angka = 15
if angka%2 != 0 :
    print(f"{angka} bilangan ganjil")
else:
    print(f"{angka} bilangan genap")
angka = 14
if angka%2 == 0 :
    print(f"{angka} bilangan genap")
else:
    print(f"{angka} bilangan ganjil")

15 bilangan ganjil
14 bilangan genap

In [126]:
bahasa_pemrograman = ["python", "java", "javascript", "golang"]
bahasa="python"
if bahasa in bahasa_pemrograman:
    print(f"{bahasa} ada dalam list bahasa_pemrograman")
else:
    print(f"{bahasa} tidak ada dalam list bahasa_pemrograman")

python ada dalam list bahasa_pemrograman

In [127]:
angka = 35
if angka>30:
    print(f"{angka} lebih besar dari 30")
if angka == 30:
    print(f"{angka} sama dengan 30")
else:
    print(f"{angka} lebih kecil dari 30")

35 lebih besar dari 30
35 lebih kecil dari 30

caranya agar tidak terbagi 2 adalah dengan memberi elif

In [128]:
angka = 35
if angka>30:
    print(f"{angka} lebih besar dari 30")
elif angka == 30:
    print(f"{angka} sama dengan 30")
else:
    print(f"{angka} lebih kecil dari 30")

35 lebih besar dari 30

In [129]:
biodata={'nama': 'Dheny', 'pekerjaan':'Pokemon Catcher','usia': '27'}
'usia' in biodata

True

In [130]:
angka = 9
if angka%2 != 0 :
    print(f"{angka} bilangan ganjil")
    if angka>10:
        print(f"{angka} lebih besar dari 10")
    else:
        print(f"{angka} lebih kecil dari 10")
else:
    print(f"{angka} bilangan genap")

9 bilangan ganjil
9 lebih kecil dari 10

In [131]:
# [85 - 100]:A
# [70 - 85]:B
# [50 - 70]:C
# [25 - 50]:D
# [0 - 25]: E
nilai = 65.9
if 0 <= nilai <= 100:
    if nilai >= 85:
        print ("A")
    elif nilai >= 70:
        print ("B")
    elif nilai >= 50:
        print("C")
    elif nilai >= 25:
        print("D")
    else:
        print("E")
else:
    print("Null")

C

## LOOPING

In [132]:
i = 0
while i<5:
    print(f"i={i}, dalam while loop")
    i=i+1

i=0, dalam while loop
i=1, dalam while loop
i=2, dalam while loop
i=3, dalam while loop
i=4, dalam while loop

In [133]:
n=1
while n<=10:
    print(f"7 x {n} = {7*n}")
    n += 1 # n=n+1

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [138]:
# nested loop (tabel perkalian)
i=1
j=1

while j <= 10:
    i=1
    while i <= 10:
        print(f"{j} x {i} = {j*i}")
        i += 1
    print("*"*20)
    j += 1

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
********************
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
********************
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
********************
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
********************
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
********************
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
********************
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
********************
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
********************
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
********************
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
********************

In [179]:
# break
i= 1
while i<=10:
    print(f"7 x {i} = {7*i}")
    i += 1
    if i ==5:
        break
print("done")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
done

In [178]:
# continue

i = 0
while i <= 10:
  i += 1 
  if i == 5:
    continue
  print(f"7 x {i} = {7*i}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
7 x 11 = 77

## FOR LOOP

In [145]:
buah = ["pepaya", "mangga", "pisang", "jambu"]
for b in buah:
    print(b)

pepaya
mangga
pisang
jambu

In [147]:
buah = ["pepaya", "mangga", "pisang", "jambu"]
for b in buah:
    print(f"{b} adalah item dalam list buah")

pepaya adalah item dalam list buah
mangga adalah item dalam list buah
pisang adalah item dalam list buah
jambu adalah item dalam list buah

In [151]:
i = 0
buah = ["pepaya", "mangga", "pisang", "jambu"]
while i<len(buah):
    print(f"{buah [i]} adalah item dalam list buah")
    i += 1

pepaya adalah item dalam list buah
mangga adalah item dalam list buah
pisang adalah item dalam list buah
jambu adalah item dalam list buah

In [172]:
for i in [0, 1, 2, 3]:
    print(f"{buah [i]} adalah item dalam list buah")
    i += 1

pepaya adalah item dalam list buah
mangga adalah item dalam list buah
pisang adalah item dalam list buah
jambu adalah item dalam list buah

In [155]:
# tabel perkalian 7

for i in range (1, 11):
    print(f"7 x {i}= {7*i}")

7 x 1= 7
7 x 2= 14
7 x 3= 21
7 x 4= 28
7 x 5= 35
7 x 6= 42
7 x 7= 49
7 x 8= 56
7 x 9= 63
7 x 10= 70

In [173]:
for j in range (1, 11):
    for i in range (1, 11):
        print(f"{j} x {i} = {j*i}")
    print("*"*50)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
**************************************************
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
**************************************************
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
**************************************************
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
**************************************************
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
**************************************************
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
**************************************************
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
**************************************************
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
**************************************************
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
**************************************************
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
**************************************************

In [174]:
for i in range(1, 11):
  if i == 5:
    break
  print(f"7 x {i} = {7*i}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28

In [176]:
for i in range(1, 11):
  if i == 5:
    continue
  print(f"7 x {i} = {7*i}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70